.games-content {
    align-items: flex-end;
    justify-content: flex-start !important;
    .image-flex {
      gap: 36px;
      .image-link-container {
        margin-top: auto;
        gap: 9px;
        margin-bottom: 104px;
      }
    }
  }
  