.ict-content {
  .page-content{
    justify-content: flex-start;
    .image-flex {
      width: 100%;
      overflow: scroll;
      gap: 2.5%;
      margin-top: auto;

      &::-webkit-scrollbar{display: none;}
      .image-link-container {
        margin-top: auto;
        gap: 1vh;
        margin-bottom: 11.12vh;
      }
    }
  }
  
}
