@import "../../../types/constants.scss";

.header-background {
  width: 100vw;
  background-color: $primary-color;
  height: 50px;
  .header-container {
    @extend .page-layout;
    height: 100%;
    align-items: center;
    .brand {
      color: $link-hover-color;
      font-family: Raleway;
      font-weight: bold;
      font-size: 20px;
      user-select: none;
    }
    .navbar-container {
      justify-content: flex-end;
      margin-left: auto;
      gap: 100px;
      .navbar-element {
        cursor: pointer;
        text-decoration: none;
        color: $link-color;
        transition: all 0.3s;
        font-style: Medium;
        font-family: Cabin;
        font-size: 18px;
        letter-spacing: 2%;
        user-select: none;
        &::after {
          content: "";
          width: 0px;
          height: 1px;
          display: block;
          background: black;
          transition: all 0.3s;
        }
        &:hover {
          color: $link-hover-color;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
