@import "../../types/constants.scss";

.page-content {
  margin-left: 8.5%;
  margin-right: 8.5%;
  width: 100%;
  height: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.page-content-wrapper {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
}